.form-container{
    width: 90%;
    height: 100%;
    margin: 20px;
}
#checkout-top-header{
    font-size: 14px;
}
.span{
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.account-info, .shipping, .billing, .payment-info{
    text-align: start;
    font-size: 11px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 10px; 
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgb(192, 189, 189);
    padding-left: 0;
}
select{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 15px;
    border-bottom: 1px solid rgb(192, 189, 189);
}
input:focus, select:focus{
    border-bottom: 2px solid black;
}
.address-info{
    display: flex;
    justify-content: space-between;
}
.account-inf0 input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.state, .zip{
    width: 40%;
    border-bottom: 1px solid rgb(192, 189, 189);
}

.selector-container{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
#country-label{
    margin-left: 5px;
    margin-top: 20px;
}
.billing-checkbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.billing-checkbox label{
    margin-left: 20px;
    font-size: 12px;
}
#billing-check{
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}

.date-selector{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.month-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}
.month-label{
    font-size: 15px;
}
.cvv{
    width: 25%;
    margin-bottom: 10px;
}
#year{
    width: 25%;
}
#month{
    width: 100%;
    font-size: 14px;
}
.order-items{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;  
    font-size: 13px;
    height:10vh; 
}
button:active{
    background-color: black;
    color: white;
}
@media(min-width: 768px){
    .container{
        text-align: center;
    }
    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }
    .heading-checkout{
        margin-top: 80px;
        /* font-size: 22px; */
        font-weight: 400;
    }
    .account{
        display: flex;
        flex-direction: column;
    }
    .payment-info{
        margin-left: 5%;
    }
    button{
        position: static;
        width: 0;
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 8px;
        padding-left: 70px;
        padding-right: 150px;
    }
}