*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    text-align: center;
}
.navbar{
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#check{
    display: none;
}
.nav-element{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 77%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1; 
}
#check:checked ~ .nav-element{
    left: 0;
    transition: 0.3s;
}
#check:checked ~ .overlay {
    display: block;
}
.nav-element a{
    margin-top: 20px;
    margin-left: 20px;
}
.main-heading{
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
}
#checkbtn{
    position: absolute;
    top: 30px;
    left: 15px;
}
.cart{
    position: absolute;
    top: 15px;
    right: 15px;
}

img{
    height: 240px;
    object-fit: cover;
}
.box1 img, .box2 img, .box3 img{
    margin-bottom: 20px;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.t-shirts{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t-shirts img{
    width: 100%;
    height: 200px;
    overflow-x: hidden;
}
.heading p {
    margin-top: 10px;
    margin-bottom: 35px;
}
.shop-btn {
   padding: 7px 40px;
   border: 2px solid black;
}
.inner-btn {
    padding: 7px 20px;
    border: 2px solid black;
 }
.heading{
    margin-bottom: 30px;
    font-size: 16px;
}
.made-by{
    font-size: 12px;
    margin-top: 20px;
}
.polymer{
    color: rgb(107, 102, 102);
}
.span{
    font-size: 13px;
    color:rgb(107, 102, 102);
    position: relative;
}
.polymer:hover{
    text-decoration: underline;
}
.footer{
    background-color: #202020;
    padding: 11px 19px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 13px;
}

/* Men's Outerwear CSS */
.mens-outerwear-box, .ladies-outerwear-box, .mens-tshirt-box, .ladies-tshirts-box{
    display: none;
}

.main-item-container{
    margin-top: 10px;
    margin-bottom: 30px;
}
.clothes {
    width: 80%;
    display: flex;
    justify-content: center;
}

.item-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.item-box li {
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
}

.item-box img {
    width: 100%;
    height: auto;
    display: block;
}
.hori {
    border: 1px solid #000;
    margin: 10px 0;
}

.active{
    font-weight: 700;
}


/* media Query  */

@media(min-width: 768px){

    #checkbtn{
        display: none;
    }
    #check{
        display: none;
    }
    #check:checked ~ .nav-box2{
        left: 0;
        transition: none;
    }
    .navbar{
        padding: 35px;
    }
    .nav-element{
        left: 0;
        height: 0;
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: sticky;
    }
    .nav-element a{
        margin-top: 20px;
        margin-left: 30px;
    }
    img{
        height: 325px;
    }
    .box3 img{
        height: 325px;
    }
    .mens-outerwear-box, .ladies-outerwear-box, .mens-tshirt-box, .ladies-tshirts-box{
        display: block;
    }
    .item-box{
        grid-template-columns: repeat(3, 1fr);
    }
    .active{
        border-bottom: 2px solid rgb(29, 27, 27);
        font-weight: normal;
    }
}
